@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.container {
    font-family:  'Karla', sans-serif;;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    background-color: #0B2434;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game__board {
    width: 450px;
    background-color: #f5f5f5;
    border-radius: .5rem;
    padding: 2rem;
    display: grid;
    gap: 2rem;
}

header {
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.game__title {
    font-weight: bolder;
}

.game__description{
    width: 290px;
    color: #4A4E74;
}

.game {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

}

.game div {
    padding: .4rem .75rem;
    width: 2rem;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .15), 1px 1px 2px 1px rgba(0, 0, 0, .15);
    font-weight: bolder;
    border-radius: 4px;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    /* background-color: #fff; */
}

.selected {
    background: #59E391;
}

.roll__button {
    padding: .75rem 2rem;
    justify-self: center;
    background-color: #5035FF;
    font-weight: bold;
    outline: none;
    border: none;
    color: #fff;
    border-radius: .3rem;
    cursor: pointer;
}

.roll__button:active {
    box-shadow: inset 3px 2px 8px 8px rgba(0, 0, 0, .15);
}